# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# dotenv environment variables
.env

# VS Code
.vscode/

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local config
*.log
*.sqlite3
